body{
    background-color: #fff;
    margin: 0px;
}
/*** CONTENUTO DELLA NAVBAR ***/
nav{
    position: fixed;
    top: 0px;
    height: 70px;
    background-color: rgb(0, 0, 0);
    width: 100%;
}
#menu{
    display: none;
}    
#open-btn {
    width: 250px;
    height: 50px;
    font-size: 1.2rem;
    background: transparent;
    font-family: sans-serif;
    color: white;
    text-align: left;
    border: 2px solid transparent;
    transition: .5s;
  }
  #open-btn div{
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin-bottom: 5px;
  }
  
  #modal {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.989);
    width: 100px;
    text-decoration: none;
    color: white;
    padding: 10px;
    position: absolute;
    top: 0;
    animation-name: animateModal;
    animation-duration: .4s;
  
  }
  #modal a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-family: sans-serif;
    margin-top: 20px;
  }
  #close-btn {
    font-size: 2rem;
  }
  #modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.2);
    
  }
  
  /* Modal Animation */
  
  @keyframes animateModal {
  
    from {
        top: -300px;
        opacity: 0;
    }
  
    to {
        top: 0;
        opacity: 1;
    }
  }
#flex-container{
    display: flex;
    height: 70px;
    justify-content: right;
    align-items: center;
}
.flex-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0);
    color:white;
    font-family: sans-serif;
    font-weight:lighter;
    font-size: 1.5em;
}
.links{
    text-decoration: none;
    color: white;
    transition: .2s ease-in-out;
}
.links:hover{
    color:rgb(54, 54, 54)
}
#link-button{
    text-decoration: none;
    color: white;
}
#flex-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    margin: 10px;
    background-color: rgb(71, 71, 71);
    color:rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight:lighter;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 500px;
    transition: .5s ease-in-out;
}
#flex-button:hover{
    background-color: rgba(255, 0, 0, 0.703);
    font-size: 22px;
}
#barra{
    background: #fff;
    height: 25px;
    margin: 16px;
    width: 1px;
}

/*-----------------------------------------------------------------------------*/

/*** CONTENUTO DELL'HEADER ***/
header{
    margin-top: 70px;
    display: flex;
    color: white;
    height: 630px;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
}
#index-box{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: left;
    font-size: 15px;
    font-family: "IBM Plex Sans", sans-serif;
}
p{
    color: black;
    margin-right: 5px;
    margin-left: 5px;
}
.index{
    text-decoration: none;
    color: black;
    transition: .5s ease-in-out;
}
.index:hover{
    color: rgb(98, 97, 97);
}
#background{
    height: 520px;
}

/*-----------------------------------------------------------------------------*/

/*** CONTENUTO DELLA SECTION ***/
section{
    display: flex;
    flex-direction: column;
    font-family: "Bebas Neue", sans-serif;
}
#st{
    font-size: 120px;
    text-align: center;
    margin: 40px;
    font-family: "Bebas Neue", sans-serif;
}
.box-left{
    height: 700px;;
    display: flex;
    align-items: center;
    background-color: rgb(232, 232, 232);
    margin: 40px;
    padding: 20px;
    font-size: 35px;
    text-align: justify;
    font-family: "Bebas Neue", sans-serif;
}
.box-img{
    height: 100%;
    margin-right: 40px;
}
.year{
    font-size: 7em;
    line-height: 250px;
    margin: 0;
    padding-top: 20px;
    background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(165, 165, 165));
    background-clip: unset;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.info{
    font-size: 39px;
    margin: 0;
    padding-bottom: 20px;
}
#avatar{
    display: flex;
    margin-top: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
}
#avatar-img{
    height: 200px;
    width: 200px;
    border: 1px solid transparent;
    border-radius: 100%;
}
/*-----------------------------------------------------------------------------*/

/*** CONTENUTO DEL FOOTER ***/

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    height: 670px;
    background-color: rgb(0, 0, 0);
}
#blocco-parole-f{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    width: 95%;
}
.parole-f{
    color: rgb(255, 255, 255);
    font-size: 1vw;
    font-family: "Open Sans", sans-serif;
}
.barra-f{
    width: 95%;
    background-color: #fff;
    height: 1px;
    margin: 30px;
}
#blocco-social{
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: space-between;
}
#nome-sito-piccolo{
    font-size: 2.5vw;
    color:rgb(255, 255, 255);
    font-family: "Bebas Neue", sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
#loghi{
    margin-right: 20px;
}
.social{
    height: 40px;
    margin-left: 10px;
    transition: .5s ease-in-out;
}
.social:hover{
    opacity: 0.5;
    height: 42px;
}
#blocco-informazioni{
    display: flex;
    justify-content: space-between;
    width: 95%;
    font-family: "Open Sans", sans-serif;  
}
.colonne{
    display: flex;
    width: calc(20%-50px);
    flex-direction: column;
    color: #fff;
    font-weight: 100;
}
.colonne-titolo{
    font-size: 1.2vw;
}
.colonne-descrizione{
    line-height: 20px;
    font-size: 1vw;
    font-family: "Open Sans", sans-serif;
    color:#fff;
}
#guitarrist{
    height: 400px;
}
#email{
    font-size: 1vw;
    text-decoration: none;
    color: white;
    transition: .5s ease-in-out;
}
#email:hover{
    opacity: 0.5;
    font-size: 1.1vw;
}
.link-footer{
    font-size: 1vw;
    text-decoration: none;
    color: white;
    transition: .5s ease-in-out;
}
.link-footer:hover{
    opacity: 0.5;
}
/*-----------------------------------------------------------------------------*/
@media screen and (max-width: 1024px){
    #background{
        height: 400px;
    }
    header{
        height: 500px;
    }
    .box-left{
        font-size: 23px;
    }
    .year{
        line-height: 150px;
        font-size: 150px;
    }
    .info{
        font-size: 35px;
    }
    #guitarrist{
        display: none;
    }
    .colonne-titolo{
        font-size: 2vw;
    }
    .colonne-descrizione{
        line-height: 20px;
        font-size: 2vw;
        font-family: "Open Sans", sans-serif;
        color:#fff;
    }
    .link-footer{
        font-size: 2vw;
        text-decoration: none;
        color: white;
        transition: .5s ease-in-out;
    }
    footer{
        height: 550px;
    }
    .parole-f{
        font-size: 2vw;
    }
    #email{
        font-size: 2vw;
    }
}

@media screen and (max-width: 440px){
    #flex-container{
        display: none;
    }
    nav{
        height: 50px;
    }
    #menu{
        display: block;
    }
    header{
        height: 50px;
    }
    #st{
        font-size: 80px;
        margin-bottom: 0;
    }
    .info{
        font-size: 25px;
    }
    #background{
        display: none;
    }
    .box-left{
        font-size: 15px;
        height: 600px;
        flex-direction: column;
    }
    .box-img{
        width: 60%;
        height: auto;
        margin: auto;
    }
    #avatar-img{
        margin-top: 50px;
        height: 100px;
        width: 100px;
    }
    footer{
        margin-top: 40px;
        height: 200px;
    }
    #blocco-informazioni{
        display: none;
    }
    #nome-sito-piccolo{
        font-size: 4vw;
    }
    .parole-f{
        font-size: 2.5vw;
    }
    .social{
        height: 20px;
    }
}

@media screen and (max-width: 1000px) and (max-height: 440px){
    #flex-container{
        display: none;
    }
    nav{
        height: 50px;
    }
    #menu{
        display: block;
    }
    header{
        height: 200px;
        margin-bottom: 90px;
    }
    .box-left{
        font-size: 20px;
        height: 300px;
    }
    .box-img{
        width: 100%;
        height: 100%;
    }
    .year{
        font-size: 80px;
        height: 100px;
    }
    .info{
        font-size: 20px;
    }
    footer{
        margin-top: 60px;
        height: 260px;
    }
    #blocco-informazioni{
        display: none;
    }
    #nome-sito-piccolo{
        font-size: 4vw;
    }
    .parole-f{
        font-size: 2.5vw;
    }
    .social{
        height: 20px;
    }
}